# Public environment variables
NEXT_PUBLIC_GITHUB_USERNAME=lasithdilshan20
NEXT_PUBLIC_MEDIUM_USERNAME=lasithdilshan20
NEXT_PUBLIC_NPM_USERNAME=lasithdilshan20

# Optional (for higher GitHub API rate limits)
# GITHUB_TOKEN=ghp_your_token_here
